body {
    min-height: 100vh;
    //overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}

:is(h1,h2,h3,h4,h5,h6){
  font-family: 'Source Sans Pro', sans-serif;
}

:is(p,a,li){
  font-family: 'Oswald', sans-serif;
}