.slider{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    overflow: hidden;

    @include laptop{
        height: 735px;
    }

    &__aside{
        display: flex;
        align-items: center;
        padding: 0 1em;
        background-color: var(--aside-color);

        @include laptop{
            padding: 0 1.2em;
        }

        &--secondary{
            background-color: $aside-color-1;
        }

        &--three{
            background-color: $aside-color-2;
        }

        &-title{
            margin: 0;
            font-size: .9rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            writing-mode: vertical-rl;

            @include laptop{
                font-size: 1rem;
            }
        }

        &--four{
            background-color: $aside-color-3;
        }
    }

    &-container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        &__image{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            transition: opacity .5s ease-in-out;
        }

        &__text{
            position: absolute;
            z-index: 10;

            @include laptop{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__img{
        width: 100%;
        height: 100%;
        aspect-ratio: 1;   

        &--opacity{
            opacity: 1;
        }
    }
}

.title{
    //position: absolute;
    margin: 0;

    @include laptop{
        width: 800px;
        height: 180px;
        //transform: translate(-50%);
    }

    & span{
        font-size: 1.7rem;
        color: #fff;

        @include laptop{
            font-size: 2.5em;
        }
    }
}

.mascota{
    font-weight: 800;
    font-style: normal;
    color: #c99806;
}