:root {
    --primary-color: #161719;
    --secondary-color: #52d3aa;
    --danger-color: #972745;
    --background-color: #111213;
    --text-color: #eff;
    --title-color: hsl(33, 15%, 14%);
    --menu-color: ##D5DCD5;
    --menu-color-1: ##D5DCD5;
    --menu-color-2: #F0EAE3;
    --menu-color-3: #1C1B22;
    --menu-color-4: #6A5E5F;
    --menu-color-5: #6A5E5F;
    --menu-color-6: #6A5E5F;
    --menu-color-7: #6A5E5F;
    --menu-color-8: #6A5E5F;
    --link-color: rgb(57, 107, 160);
  }
  
  $primary-color: var(--primary-color);
  $secondary-color: var(--secondary-color);
  $danger-color: var(--danger-color);
  $background-color: var(--background-color);
  $text-color: var(--text-color);
  $title-color: var(--title-color);
  $menu-color: var(--menu-color);
  $menu-color-1: var(--menu-color-1);
  $menu-color-2: var(--menu-color-2);
  $menu-color-3: var(--menu-color-3);
  $link-color: var(--link-color);